<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mycroft.loginaction">

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".sample.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".sample.LoginActivity" />
        <activity android:name=".sample.OrderDetailActivity" />
        <activity android:name=".sample.DiscountActivity" />
    </application>
</manifest>
